{% extends "Filehandler/base.html"%}
{% block content%}

{% load crispy_forms_tags %}

<div class='container-section'>
	<form method='POST' enctype = "multipart/form-data">
		{% csrf_token %}
		<fieldset class='form-group'>
			<legend class='border-bottom mb-4' style="padding-top: 0.8rem">
				Upload csv document to add employee details to database			
			</legend>
			{{ form | crispy }}	
		</fieldset>
		
		<div class="form-group">                    
		    <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3" style="margin-bottom:10px;">
		         <button class="btn btn-primary"> <span class="glyphicon glyphicon-upload" style="margin-right:5px;"></span>Upload </button>
		    </div> 
		</div>
	</form>
	<form method='POST'>
		{% csrf_token %}
		<fieldset class='form-group'>
			<legend class='border-bottom mb-4' style="padding-top: 0.8rem">
			Lookup with date filter here (yyyy-mm-dd)		
			</legend>
			<p>RefInitiator is the initiator that was used to update the database(Adding Employee details)<br>
			NewInitiator is the initiator to keep track of the extraction process.<br>
			</p>
			{{ l_form | crispy }}	
		</fieldset>
		
		<div class="form-group">                    
		    <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3" style="margin-bottom:10px;">
		         <button class="btn btn-primary"> <span class="glyphicon glyphicon-upload" style="margin-right:5px;"></span>View Dashboard</button>
		    </div> 
		</div>
	</form>
	<div class="row">
		<p>Hey, welcome to the portal.<br>
		A user can upload a <b>csv file with the below expectations</b> here which would be processed and its entries would be saved to a database<br> 
		The csv file needs to have <b>4 columns</b> which are Employee Id, Name, DoB and State. 
		<a href="https://drive.google.com/file/d/1OHjcgrNFbCEELhkNXATfN7udWWPXb9ir/view?usp=sharing">Download a Sample file here.</a><br>
		Please use dates as <b>yyyy-mm-dd</b>
		An API GET Endpoint is added to the project so that the user can have a clear picture on how much of the data is entered<br>
		<br>
		<b>http://localhost:8000/example2/Jasir2</b><br>
		This process is then monitered by a task manager, TaskInitiator which is a unique field will be your key to control your tasks.
		<br>
		<br>
		Sample Get Endpoint to Employee entries would look like<br> 
		<b>http://localhost:8000/example2/Jasir2</b><br>
		<br>
		Sample Patch Endpoint to pause or terminate a process would be<br>
		<b>http://localhost:8000/update/Jasir2</b><br>
		This would show what Task it is operating on and its current status. Here at the Portal the value of status can be written to <b>'Pause' or 'Terminate'</b><br><br>like <br>
		{<br>
    		"status": "running"<br>
		}<br>
		
		please use <b> 'Pause' or 'Terminate' </b> to drive the processes. Otherwise the function autocorrects back to running. 
		
		<b>Please check at the Get Endpoint to see if the process has stopped.</b><br>
		You can resume your task by going to <br>
		http://localhost:8000/resume/Jasir2<br>
		<br>
		The process would be stopped at html rendering, as data extraction from cache is the event here.
		<br>
		You can resume your task by going to <br>
		http://localhost:8000/resume/Jasir2<br>
		You can delete your task by going to <br>
		http://localhost:8000/delete/Jasir2<br>
		</p> 		
	</div>

<div>

{%endblock content%}	